<div data-id="commonDialog" class="webswing-dialog-container">
	<div class="webswing-dialog-backdrop"></div>
	<div class="webswing-dialog">
		<div class="webswing-dialog-modal">
			<div id="ajaxProgress" class="ajaxProgressPanel">
			</div>
			<div class="webswing-dialog-modal-content">
				<div data-id="header"></div>
				<div data-id="content"></div>
			</div>
		</div>
	</div>
</div>
